# ไม่ติดตามไฟล์ฐานข้อมูล SQLite
*.db

# ไม่ติดตามไฟล์คอมไพล์จาก Python
*.pyc

# ไม่ติดตามไฟล์หรือโฟลเดอร์ที่เกี่ยวกับ IDE
.vscode/
.idea/

# ไม่ติดตามไดเรกทอรี Node modules
node_modules/

# ไม่ติดตามไฟล์ที่ระบบปฏิบัติการสร้างขึ้น
.DS_Store    # สำหรับ macOS
Thumbs.db    # สำหรับ Windows

# ไม่ติดตามไฟล์หรือโฟลเดอร์ที่เกี่ยวกับการทดสอบ
test-output/

# ไม่ติดตามไฟล์ Log
*.log

